body{
    position: relative;
    background-image: url("linkouPic/background_fit%20to%20window.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    
}

.menu{
    background: #202024 url("linkouPic/side_menu_background.jpg") repeat left top;
    background-size: 285px 640px;
    background-repeat: no-repeatno;
    left: -285px;  /* start off behind the scenes */
    height: 100%;
    position: fixed;
    width: 285px;
    z-index: 3; 
}
#menuIcon{
    position:absolute;
    left:5% auto;
    top:5% auto;
    width:50px;
    height:50px;
}
.linkou{
    position:absolute;
    top;0%;
    left:13%;
    
}

#linkou_outline{
    position:absolute;
    z-index: 1;
}

#linkou_painted{
    position:absolute;
    z-index: 0;
}

.colorit{
    position: absolute;
    z-index: 3;
    bottom: 10%;
    left:25%;
    width:230px;
    height:83px;
    cursor: pointer;
}

.colorithover{
    position: absolute;
    z-index: 3;
    bottom: 10%;
    left:25%;
    width:230px;
    height:83px;
    cursor: pointer;
}

.again{
    position: absolute;
    z-index: 3;
    bottom: 10%;
    left:25%;
    width:230px;
    height:83px;
    cursor: pointer;
}

h2{
    margin-top: 1%;
    margin-left: 2%;
    position:absolute;
    z-index:2;
    font-size:44pt;
    color: white;
}

.about1{
    position:absolute;
    top:20%;
    left:15%;
    cursor: pointer;
}

.about2{
    position:absolute;
    top:20%;
    left:15%;
    cursor: pointer;
}

.location1{
    position:absolute;
    top:35%;
    left:15%;
    cursor: pointer;
}

.location2{
    position:absolute;
    top:35%;
    left:15%;
    cursor: pointer;
}

.catagory1{
    position:absolute;
    top:55%;
    left:15%;
    cursor: pointer;
}

.catagory2{
    position:absolute;
    top:55%;
    left:15%;
    cursor: pointer;
}

.close{
    position: relative;
    top:7%;
    text-align: center;
    cursor:pointer;
}

.about{
    background-size: 650px 640px;
    background-color:white;
    height:100%;
    width:650px;
    left:-650px;
    z-index:3;
    position:fixed;
}

.title1{
    position:absolute;
    left:10%;
    top:0%;
    width:600px;
    height: 13%;
    z-index:3;
}
.discribe{
    position:absolute;
    left:10%;
    top:22%;
    width:190px;
    height: 70%;
    z-index:3;
}

.contimg{
    position:absolute;
    left:43%;
    top:25%;
    width:310px;
    height:70%;
    z-index: 3;
}

.locatimg1{
    position:relative;
    top:2%;
}

#p1{
    font-size: 32pt;
    border-top:0px;
}
#p2{
    font-size: 28pt;
    border-top:0px;
}

#p3{
    font-size: 28pt;
    border-top:0px;
}

.location{
    background-size: 650px 640px;
    background-color:white;
    height:100%;
    width:650px;
    left:-650px;
    z-index:3;
    position:fixed;
}

.title2{
    position:absolute;
    left:5%;
    top:0%;
    width:600px;
    height: 13%;
    z-index:3;
}

.transport{
    position:absolute;
    left:5%;
    top:22%;
    width:190px;
    height: 70%;
    z-index:3;
}

.transimg{
    position:absolute;
    left:40%;
    top:25%;
    width:310px;
    height:70%;
    z-index: 3;
}

.map{
    position:relative;
    top:2%;
}

.catagory{
    background-size: 650px 640px;
    background-color:white;
    height:100%;
    width:650px;
    left:-650px;
    z-index:3;
    position:fixed;
}

.title3{
    position:absolute;
    left:5%;
    top:0%;
    width:600px;
    height: 13%;
    z-index:3;
}

.catagorylist{
    position:absolute;
    left:5%;
    top:22%;
    width:190px;
    height: 70%;
    z-index:3;
}